<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Todo List App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="../static/signup.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="header">
           
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="showSignin">Sign in</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="showSignUp">Sign up</a>
                  </li>
                </ul>
               
              </div>
            </nav>


            <h3 class="text-muted">Python Flask App</h3>
        </div>

        <div class="jumbotron">
        <h1>Todo List App</h1>
        <form class="form-signin" action="/validateLogin" method="POST">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        
        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      </div>

        

    </div>
</body>

</html>